<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LTKGMaster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LTKGMaster.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex align-items-center" asp-area="" asp-page="/Index">
                        <img src="~/PictureLogos/looooogo.png" width="120" height="auto" alt="Logo" class="me-2" />
                    </a>
                    <form class="d-flex search-bar-container" method="get" action="/SalesAds/Search">
                        <input type="search" class="form-control search-input me-2" placeholder="Search..." id="searchbar" name="searchQuery" aria-label="Search through site content" />
                        <button type="submit" class="btn btn-primary">Søg</button>
                    </form>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/SalesAds/CreateSalesAd">Opret ny annonce</a>
                            </li>
                        </ul>
                </div>
                <div class="mr-2">
                    <partial name="_LoginStatusPartial" />
                </div>
        </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LTKGMaster - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <a href="https://www.ford.dk/oplev-ford/om-ford" style="font-family: 'Times New Roman'" class="dropdown-btn">OM OS</a>
            <a href="https://www.ford.dk/hjaelp/generelt/kontakt-os" style="font-family: 'Times New Roman'" class="dropdown-btn">KONTAKT OS</a>
            <a href="/Guides/GuidePage" style="font-family: 'Times New Roman'" class="guides-btn">GUIDES</a>
        </div>
        <div class="footer-column footer-right" style="font-family:'Times New Roman'">
            <p>ElKirkeGården</p>
        </div>
    </div>
    </footer>
</body>
</html>