@page
@model LTKGMaster.Pages.Guides.GuidePageModel
@{
}
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide Page</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>

    <h1>Guides</h1>
    <p>Vælg en af de følgende guides for at læse mere</p>


    <div class="title">
        <a class="guide-link" asp-page="/Guides/SafeTrade">Sikker Handel</a>
    </div>
    <div class="title">
        <a class="guide-link" asp-page="/Guides/HowToCreate">Sådan opretter du en annonce</a>
    </div>

</body>
</html>