@page
@model LTKGMaster.Pages.Account.LoginModel
@{
}

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Credential.Email"></label>
            <input type="text" asp-for="Credential.Email" class="form-control" />
            <span class="text-danger" asp-validation-for="Credential.Email"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Credential.Password"></label>
            <input type="password" asp-for="Credential.Password" class="form-control" />
            <span class="text-danger" asp-validation-for="Credential.Password"></span>
        </div>
        <div class="row form-check mb-2">
            <div class="col-2">
                <input type="checkbox" asp-for="Credential.RememberMe" class="form-check-input" />
                <label class="form-check-label" asp-for="Credential.RememberMe"></label>
            </div>
        </div>
        <div class="mb-2">
            <input type="submit" class="btn btn-primary" value="Login" />
        </div>
    </form>
</div>