@page
@model LTKGMaster.Pages.Account.MemberRegistrationModel
@{
}
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="User.Credential.Email"></label>
            <input type="email" id="email1" asp-for="User.Credential.Email" class="form-control" />
            <input type="hidden" id="email2" asp-for="User.CredMail" />
            <span class="text-danger" asp-validation-for="User.Credential.Email"></span>
        </div>
        <div class="mb-3">
            <label asp-for="User.Credential.Password">Password</label>
            <input type="password" id="password1" asp-for="User.Credential.Password" class="form-control" />
            <span class="text-danger" asp-validation-for="User.Credential.Password"></span>
        </div>
        <div class="mb-3">
            <label asp-for="User.Credential.ConfirmPassword">Confirm Password</label>
            <input type="password" id="password2" asp-for="User.Credential.ConfirmPassword" class="form-control" />
            <span id="passwordError" asp-validation-for="User.Credential.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="User.UserName"></label>
            <input type="text" asp-for="User.UserName" class="form-control" />
            <span class="text-danger" asp-validation-for="User.UserName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="User.City"></label>
            <input type="text" asp-for="User.City" class="form-control" />
            <span class="text-danger" asp-validation-for="User.City"></span>
        </div>
        <div class="mb-2">
            <input type="submit" class="btn btn-primary" value="Opret" />
        </div>
    </form>

    <!--SCRIPTS-->

    <script>
        document.getElementById("email1").addEventListener("input", function (event) {
            document.getElementById("email2").value = event.target.value;
        });
    </script>

    <script>
        document.querySelector('form').addEventListener('submit', function (event) {
            const password1 = document.getElementById('password1').value;
            const password2 = document.getElementById('password2').value;
            const errorSpan = document.getElementById('passwordError');

            if (password1 !== password2) {
                errorSpan.textContent = "Passwords do not match.";
                event.preventDefault(); // Prevent form submission
            } else {
                errorSpan.textContent = ""; // Clear error if passwords match
            }
        });
    </script>

</div>