@page
@model LTKGMaster.Pages.Account.MyPageModel
@{

}

<div class="text-center">
    <h1>Hej! @User.Identity.Name</h1>
</div>

<!-- Centered box for links -->
<a asp-area="" asp-page="/SalesAds/CreateSalesAd" class="link-item">
    Opret ny annonce
</a>
<a asp-area="" asp-page="/Account/MySalesAds" class="link-item">
    Mine annoncer
</a>
<a asp-area="" asp-page="/Account/MyFavorites" class="link-item">
    Mine favoritter
</a>
<a asp-area="" asp-page="/Account/UpdateAccount" class="link-item">
    Opdater oplysninger
</a>


