@page
@model LTKGMaster.Pages.Account.MyPageModel
@{
}

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/SalesAd/CreateSalesAd">Opret ny annonce</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Account/MySalesAds">Mine annoncer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Account/MyFavorites">Mine favoritter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Account/UpdateAccount">Opdater oplysninger</a>
    </li>
    </ul>