@page
@model LTKGMaster.Pages.Account.MyPageModel
@{

}

<div class="text-center">
    <h1>Hej!</h1>
</div>

<!-- Centered box for links -->
<div class="links-box">
    <div class="links-container">
        <ul>
            <li>
                <a asp-area="" asp-page="/SalesAds/CreateSalesAd">Opret ny annonce</a>
            </li>
            <li>
                <a asp-area="" asp-page="/Account/MySalesAds">Mine annoncer</a>
            </li>
            <li>
                <a asp-area="" asp-page="/Account/MyFavorites">Mine favoritter</a>
            </li>
            <li>
                <a asp-area="" asp-page="/Account/UpdateAccount">Opdater oplysninger</a>
            </li>
        </ul>
    </div>
</div>


