@page
@model LTKGMaster.Pages.Account.UpdateUserModel
@{
}


<form method="post">
    <div>
        <label for="username">Brugernavn:</label>
        <input type="text" id="username" name="username" value"" />
    </div>
    <div>
        <label for="city">By:</label>
        <input type="text" id="city" name="city" value="" />
    </div>
    <button type="submit">Opdater</button>
</form>