@page
@using LTKGMaster.Models.Products
@model LTKGMaster.Pages.ImageTestingModel
@{
}
<h1>Upload Pictures</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" id="imageInput" name="images" multiple accept="image/*" />
    <button type="submit">Upload</button>
</form>

<div class="container">
    <div class="row row-cols-2">
        @foreach (var picture in Model.ProductPictureList)
        {
            <div class="col">
                <p>@picture.FileName</p>
                <img src="@picture.ImageDataBase64String" class="img-fluid" alt="Product Image">
            </div>
        }
    </div>
</div>